
<html>
    <head>
        <title>Text Adventure Game</title>
    </head>
    <body>
        <header style="display: inline-block; background-color: white">
            <h1>Tiny Dungeon</h1>
        </header>

        <div style="text-align: center">
            <h1>{{ prompt.question }}</h1>
            {% for response in object.responses.all %}
                <a href="{% url 'prompt-detail' response.next_prompt.pk %}">{{ response.text }}</a>
            {% endfor %}
        </div>
    </body>
</html>
